* {
  box-sizing: border-box;
  padding: 20px;
}

html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: coral;
  align-items: center;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero-banner {
  background-color: cadetblue;
}

.hero-banner div {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-section {
  display: flex;
}

.page-section > h2 {
  flex-basis: 25%;
  text-align: right;
  font-size: 32px;
  border-right: 4px solid lightgrey;
}

.page-section-content {
  flex-basis: 75%;
}

#work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "latest latest";
  grid-template-rows: 300px;
  grid-auto-rows: 150px;
}

#furniture {
  background-color: blueviolet;
  grid-area: latest;
}

#eatery {
  background-color: pink;
}

#horiseon {
  background-color: rgb(56, 119, 117);
}

.contact-menu {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.contact-menu > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0;
}

.contact-menu > div > span {
  border-bottom: 4px solid grey;
  padding: 0;
}
