* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
}

ul {
  display: flex;
  gap: 20px;
}

.hero-banner div {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#about {
  display: flex;
}

#work {
  display: flex;
}

#contact {
  display: flex;
}

#contact div {
  display: flex;
  gap: 20px;
}
