* {
  box-sizing: border-box;
  padding: 20px;
}

html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: coral;
  align-items: center;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero-banner {
  height: 250px;

  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.hero-banner div {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);

  position: absolute;
  bottom: 0;
  right: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-section {
  display: flex;
}

.page-section > h2 {
  flex-basis: 25%;
  text-align: right;
  font-size: 32px;
  border-right: 4px solid lightgrey;
}

.page-section-content {
  flex-basis: 75%;
  display: flex;
}

.page-section-content .avatar {
  background-image: url("../images/gizem.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "latest latest";
  grid-template-rows: 500px;
  grid-auto-rows: 250px;
  grid-gap: 20px;
}

.project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project > .label {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 40px;
  left: 0;

  font-size: 24px;
  font-weight: 600;
}

#furniture {
  grid-area: latest;
  background-image: url("../images/furniture.png");
}

#eatery {
  background-image: url("../images/eatery.png");
}

#horiseon {
  background-image: url("../images/horiseon.png");
}

.contact-menu {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.contact-menu > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0;
}

.contact-menu > div > span {
  border-bottom: 4px solid grey;
  padding: 0;
}
